[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
statsmodels = "*"
seaborn = "*"
pillow = ">=9.0.0"

[requires]
python_version = "3.9"
